/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80%;
    height: 32rem;
  }


  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

 

.navbar {
    margin-bottom: 20px;
}

.card{
    box-shadow: 0 3px 15px rgba(0,0,0,0.7)
    
}

.card:hover{
    animation: shake 0.5s
}

img{
    width: 100%;
    height: 230px;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-3px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    75% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .detail{
    margin-top: 2.5rem;
  }